= form_for @book, :html => {:multipart => true} do |f|
  -if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg

  = render :partial => 'form_base', :locals => {f: f}
  .photos
    -# - if @book.new_record?

    - unless @book.new_record?
      %h2 Zdjęcie główne
      = render :partial => 'photos/photo', :object => @book.main_photo,
        :locals => {:size => :large} if @book.main_photo
      %h3 Pozostałe zdjęcia
      = render :partial => 'photos/photo', :collection => @book.gallery_photos,
        :locals => {:size => :small} if @book.gallery_photos

    .new
      %h3 Nowe zdjęcia
      %a.add_new_photo + dodaj następne zdjęcie
      = f.fields_for :photos, @book.build_photos(10) do |builder|
        = render :partial => 'photos/form', :locals => {:f => builder, :size => :small}
  .actions
    = f.submit 'Zapisz'
