= form_for @book, :html => {:multipart => true} do |f|
  -if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title, 'Tytuł'
    = f.text_field :title
  .field
    = f.label :author, 'Autor'
    = f.text_field :author
  .field
    = f.label :publishing_house, 'Wydawnictwo'
    = f.text_field :publishing_house
  .field
    = f.label :year_of_publication, 'Rok wydania'
    = f.select :year_of_publication, options_for_select((1700..Date.today.year).to_a.reverse.collect{|year| [year, year]})
  .field
    = f.label :number_of_pages, 'Stron'
    = f.number_field :number_of_pages
  .field
    = f.label :cover_type, 'Rodzaj okładki'
    = f.select :cover_type, cover_types_options
  .field
    = f.label :condition, 'Stan'
    = f.select :condition, conditions_options
  .field
    = f.label :thumbnail, "Główne zdjęcie"
    = f.file_field :thumbnail
  .photos
    = f.fields_for :photos, @book.photos do |b|
      .field
        = b.label :image, "Obrazek"
        = b.file_field :image
  .actions
    = f.submit 'Zapisz'
