%h1 Listing books

%table
  %tr
    %th
    %th Tytuł
    %th Autor
    %th Wydawnictwo
    %th Rok wydania
    %th Ilość stron
    %th Typ okładki
    %th Stan
    %th
    %th
    %th

  - @books.each do |book|
    %tr
      %td
        - if book.main_photo
          = image_tag book.main_photo.image.url(:small) if book.main_photo
      %td= book.title
      %td= book.author
      %td= book.publishing_house
      %td= book.year_of_publication
      %td= book.number_of_pages
      %td= book.cover_type
      %td= book.condition
      %td= link_to 'Pokaż', book
      %td= link_to 'Edytuj', edit_book_path(book)
      %td= link_to 'Usuń', book, :confirm => 'Are you sure?', :method => :delete

%br

= link_to '+ dodaj nową książkę', new_book_path, :class => :add
