%p#notice= notice

%h2= @book
-# %h3= @book.author
%p
  %b Wydawnictwo:
  = @book.publishing_house
%p
  %b Rok wydania:
  = @book.year_of_publication
%p
  %b Liczba stron:
  = @book.number_of_pages
%p
  %b Typ okładki:
  = cover_type_label(@book.cover_type)
%p
  %b Stan:
  = condition_label(@book.condition)

- if @book.main_photo
  %h3 Zdjęcia
  = render :partial => 'photos/photo',
      :object => @book.main_photo,
      :locals => {:size => :large}
- if @book.gallery_photos
  %p.photos
    = render :partial => 'photos/photo',
        :collection => @book.gallery_photos,
        :locals => {:size => :small}

= link_to 'Edytuj', edit_book_path(@book)
\|
= link_to 'Wróć', books_path
