%p#notice= notice

%p
  %b Title:
  = @book.title
%p
  %b Author:
  = @book.author
%p
  %b Publishing house:
  = @book.publishing_house
%p
  %b Year of publication:
  = @book.year_of_publication
%p
  %b Number of pages:
  = @book.number_of_pages
%p
  %b Cover type:
  = cover_type_label(@book.cover_type)
%p
  %b Condition:
  = condition_label(@book.condition)

%h3 Zdjęcia
= render :partial => 'photos/photo',
    :object => @book.main_photo,
    :locals => {:size => :large} if @book.main_photo
%p.photos
  = render :partial => 'photos/photo',
      :collection => @book.gallery_photos,
      :locals => {:size => :small}

= link_to 'Edytuj', edit_book_path(@book)
\|
= link_to 'Wróć', books_path
